<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>스프링</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div class="navbar">
    <header>
        <nav>
            <ul>
                <li><a href="/user/register">회원가입</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/user/my-login}">로그인</a></li>
                <li sec:authorize="isAuthenticated()"><span><span sec:authentication="principal.user.name"></span>님 환영합니다.</span><a th:href="@{/user/my-logout}">로그아웃</a></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>