<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
</head>
<body>
<h1>SignIn</h1>
<form action="signin-result" method="post">
    <p>
        <label>아이디</label>
        <input type="text" name="id"/>
    </p>
    <p>
        <label>비밀번호</label>
        <input type="text" name="password"/>
    </p>
    <p>
        <label>이름</label>
        <input type="text" name="name"/>
    </p>
    <p>
        <label>도시</label>
        <select type="text" name="city">
            <option>서울</option>
            <option>대구</option>
            <option>부산</option>
            <option>영천</option>
            <option>칠곡</option>
        </select>
    </p>
    <input type="submit" value="SignIn"/>
</form>
</body>
</html>