<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Note</title>

    <link href="/css/note.css?1" rel="stylesheet">

</head>
<body>
<h1>글 등록</h1>

<div class="create_note">
    <fomr action="add-save.do" method="post">
        <div>
            <label>제목</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>내용</label>
            <input type="text" name="cotent">
        </div>
        <div>
            <label>글쓴이</label>
            <input type="text" name="writer">
        </div>
        <div>
            <label></label>
            <button>글 등록</button>
        </div>
    </fomr>
</div>

</body>
</html>